.wrapper {
  width: 400px;
  margin-bottom: 16px;
  overflow: hidden;
}

.inner {
  width: 400px;
  height: 600px;

  transition: transform 0.2s;
}

.ctrlCont {
  display: flex;
  justify-content: space-between;
}
